In [1]:
import pymysql

In [2]:
'''
Add the following into your
sprint 2 MySQL data using Python:'''
#Add more products and their brands


#first create a connection to the database
mydb = pymysql.connect(host='127.0.0.1',
                      user='root',
                      password='Siyo@2020',
                      db='mydb')

cursor = mydb.cursor()
cursor.execute('SELECT * FROM mydb.mystore')

for i in cursor:
    print(i)

(1, 'Chips', 'Simba/Lays')
(2, 'Cooldrinks', 'Coke/Fanta')
(3, 'Chocolates', 'Cadbury/Tex')
(4, 'Pies', 'Pepper Steak/Chicken')
(5, 'Fruit', 'Pear/Apple/Orange')
(6, 'Cupcakes', 'Vanilla/Chocolate')
(7, 'Veggies', 'Spinach/Cabbage')
(8, 'Meat', 'Beef/Chicken')
(9, 'Biscuits', 'Oreo/Tennis')
(10, 'Distilled Water', 'Aquelle/Tsitsikama')

In [8]:
#Create more columns to your products. 
#Categorize data for each product.

#first create a connection to the database
mydb = pymysql.connect(host='127.0.0.1',
                      user='root',
                      password='Siyo@2020',
                      db='mydb')


cursor = mydb.cursor()
cursor.execute('SELECT * FROM mydb.mysales')

for row in cursor:
    print(row)

(1, 14001, 'chips', 'simba', 20, Decimal('18.00'))
(2, 14002, 'chips', 'lays', 20, Decimal('18.00'))
(3, 14003, 'cooldrinks', 'coke', 48, Decimal('10.00'))
(4, 14004, 'cooldrinks', 'fanta', 48, Decimal('10.00'))
(5, 14005, 'chocoloates', 'cudbury', 15, Decimal('12.50'))
(6, 14006, 'chocolates', 'tex', 18, Decimal('11.00'))
(7, 14007, 'pies', 'pepper steak', 30, Decimal('22.00'))
(8, 14008, 'pies', 'chicken', 25, Decimal('22.00'))
(9, 14009, 'fruit', 'pear', 18, Decimal('3.00'))
(10, 14010, 'fruit', 'apple', 20, Decimal('3.00'))
(11, 14011, 'fruit', 'orange', 15, Decimal('4.00'))
(12, 14012, 'cupcakes', 'vanilla', 20, Decimal('13.00'))
(13, 14013, 'cupcakes', 'chocolate', 20, Decimal('13.00'))
(14, 14014, 'veggies', 'spinach', 15, Decimal('7.50'))
(15, 14015, 'veggies', 'cabbage', 15, Decimal('8.00'))
(16, 14016, 'meat', 'beef', 15, Decimal('35.00'))
(17, 14017, 'meat', 'chicken', 18, Decimal('25.00'))
(18, 14018, 'biscuits', 'oreo', 20, Decimal('17.00'))
(19, 14019, 'biscuits', 'tennis', 20, Decimal('15.00'))
(20, 14020, 'distilled water', 'aquelle', 25, Decimal('11.00'))
(21, 14021, 'distilled water', 'tsitsikama', 20, Decimal('12.00'))